
.menu {
    display: flex;
    flex-direction: column;
    width: 102px;
    height: 276px;
    background: #FFFFFF;
    border-radius: 35px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 2%;
    ol {
        overflow: hidden;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        //justify-content: space-between;
        justify-content: center;
        li:nth-child(1) button {
            background: url("../../assets/icon/home.svg");
        }
        li:nth-child(2) button {
            background: url("../../assets/icon/profile.svg");
        }
        li:nth-child(3) button {
            background: url("../../assets/icon/job.svg");
        }
        li {
            overflow: hidden;
            display: flex;
            flex: 1 1 auto;
            transition: 0.4s;
            width: 102px;
            height: 95px;
            align-items: center;
            justify-content: center;
            button {
                width: 60px;
                height: 60px;
                background-position: center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
            }
        }
        li:nth-child(2):hover {
            transition: 0.4s;
            background: rgba(253, 143, 100, 0.8);
            border-radius: 0px 0px 0px 0px;
        }
        li:nth-child(3):hover {
            transition: 0.4s;
            background: rgba(253, 143, 100, 0.8);
            border-radius: 0px 0px 35px 35px;
        }
        li:nth-child(1):hover {
            transition: 0.4s;
            background: rgba(253, 143, 100, 0.8);
            border-radius: 35px 35px 0px 0px;
        }
    }
}

.menur {
    position: absolute;
    height: 100vh;
    right: 0%;
    width: 350px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menur {
    position: fixed;
    height: 100vh;
    max-height: 100vh;
    right: -1%;
    width: 350px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__avatar {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #C4C4C4;
            z-index: 100000;
        }
        p {
            margin-top: 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: #313131;
        }
        div {
            margin-top: 50px;
            display: flex;
            align-items: center;
            width: 106px;
            height: 28px;
            border-radius: 35px;
            background: #F4F5F9;

            div {
                transition: 0.4s;
                margin-top: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                img {
                    background: rgba(255, 255, 255, 0);
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    
    &__vac {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;

            color: #000000;
        }
    }
    &__chat {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__col {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        a {
            img {
                margin-right: 10px;
            }
            justify-content: center;
            width: 273px;
            height: 93px;
            background: #FF7575;
            border-radius: 23px;
            display: flex;
            align-items: center;
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;

                color: #F5F5F5;
            }
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 11px;
                line-height: 13px;
                color: #D7D7D7;
            }
        }
    }
}

.chat {
    cursor: pointer;
    background: #FAFAFA;
    height: 99px;

    img {
        margin-left: 30px;
    }
    img:last-of-type {
        margin-left: 130px;
    }
    p {
        margin-left: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #313131;
    }
}

.m__msg {
    margin-top: 20px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    background: #F0F9FF;
    //height: 100%;
}

.msg__bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid slategrey;
    padding-bottom: 5px;
    img {
        margin-top: 5px;
        margin-left: 15px;
    }
    p {
        margin-left: 15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #313131;
    }
}

.msg {
    &__msg {
        height: 100%;
        background: url("../../assets/back/back1.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        form {
            height: 60px;
            display: flex;
            width: 100%;
            input {
                height: 60px;
                width: 100%;
                background: #FFFFFF;
                font-size: 18px;
                line-height: 21px;
                color: #DCDCDC;
            }
            div {
                height: 60px;
                width: 80px;
                background: #05CE68;
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    padding-left: 10px;
                    margin: 10px;
                    background: url("../../assets/icon/send.svg") !important;
                    background-position: center !important;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        height: 90%;
        
    }
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 203px;
        padding: 15px;
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;

            color: #FFFFFF;
        }
    } 
    &__row:nth-child(even) {
        
       
        background: #5CB1FF;
        border-radius: 19px;
        margin-left: 30%;
    }

    &__row:nth-child(odd) {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #FFFFFF;
        border-radius: 19px;
        p {
            color: black;
        }
    }
}

.back-arr {
    cursor: pointer;
}

.m__switch-hide {
    display: none;
}

.orng {
    transition: 0.4s;
    background: #FD8F64 !important;
}

.exit {
        transition: 0.4s;
        border: 2px solid #ab1d04;
        box-sizing: border-box;
        border-radius: 32px;
        width: 134px;
        height: 48px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 110.69%;
        /* or 24px */

        background: white;
        color: #595959;
}
.exit:hover {
    transition: 0.4s;
    background: #ab1d04;
    color: white;
}